.wrapper {
    width: 100%;
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;

}

.grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.calendar {
    display: flex;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dates {
    padding: 1rem;
    align-items: center;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    background-color: white;
}
