.container {
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    text-align: center;
}

.arrow {
    height: 1rem;

}

.label {
    flex-basis: 90%;
    text-align: center;

}